@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;500&family=Barlow:wght@300;400;500&family=Dancing+Script:wght@700&family=Merienda+One&family=Merienda:wght@400;700&family=Mukta:wght@300&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.new-list-item {
    border: none;
    background-color: rgba(218, 245, 246, 0.3);
    border-radius: 12px;
    &:active {
        background-color: rgba(32, 69, 237, 0.4);
    }
}
.new-badge-color {
    background-color: rgba(32, 69, 237, 0.2);
    margin-right: 10px;
}
.col-header {
    background-color: rgba(218, 245, 246, 0.3);
    // font-weight: bold;
    font-size: 18px;
    height: 50px;
    // padding-top: 2px;
    border-radius: 8px
}
.new-label-chapter {
    font-style: italic;
}
.new-item-chapter {
    font-size: 1.3em;
    font-weight: bold;

}
.new-margin-top {
    margin-top: 10px;
}
.new-base-font {
    font-family: Barlow;
}
